body {
  background: #e9ebf0;
  color: #fff; }

.navbar {
  border-bottom: 5px solid #2b365c;
  background: #000000;
  font-size: 20px;
  opacity: 0.9; }

#nav-link{
  font-color:#ffffff;
}

.lead{
  font-size: 40px;
}
.lead-accom{
  font-size: 30px;
}

.mrh-small{
  font-size: 10px;
  color:#e86d6d;
}

#card-header{
  background-color: #736c6c;;
}

#mrh-prof-pic-round img{
  border-radius: 100%;
}

.mrh-cv, .mrh-icon{
  border-radius: 100%;
}



#home-section {
  background-attachment: fixed;
  min-height: 700px; }


#education-head-section .fa {
  font-size: 30px;
  padding: 1px;
  border-radius: 5px;
  opacity: 0.7;
 }

 #card{
   background-color: #736c6c;
 }


#education-head-section, #accomplishment-head-section,
#projects-head-section, #contact-head-section{
  background:#d2d9d4;
  color: #000000;
}


#mrh-footer{
  background-color: #000000;
}


@media (max-width: 768px) {
  #home-section h1 {
    font-size: 36px; } }
